<div class="w-full">
  <% content_for :title, "Orders" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Orders</h1>
    <%= link_to "New order", new_admin_order_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <h2>Unfulfilled Orders</h2>
  <%= render 'orders', orders: @orders_unfulfilled, pagy: @pagy_unfulfilled %>
  
  <h2>Fulfilled Orders</h2>
  <%= render 'orders', orders: @orders_fulfilled, pagy: @pagy_fulfilled %>
</div>
